/* TASKS CONTAINER */

.tasksContainer {
    height: auto;
    width: 25%;
    margin: 48px auto auto auto;
    transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
    animation: bottomTopBounce 0.5s cubic-bezier(0, 0.5, 0.5, 1);
}

.tasksTitle {
    width: auto;
    font-size: 1.75rem;
    font-weight: 800;
    height: 2.5rem;
    margin-bottom: 10px;
}

@keyframes bottomTopBounce {
    0% {
        opacity: 0;
        transform:translateY(10vh); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes tasksContainerShiftLeft {
    0% {transform:translateX(30%)}
    50% {transform: translateX(-30%)}
}


/* SUB-GROUP */

.subGroup {
    margin-top: 20px;
    margin-bottom: 35px;
}

.subGroupTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 0 15px;
    height: 30px;
    font-weight: 700;
    font-size: 1.25rem;
    color: #697384bd;
    border-radius: 5px;
    background-color: #bec7d542;
    margin-bottom: 20px;
}


/* TASK CONTAINER */

.taskContainer {
    position: relative;
    cursor: pointer;
    display: grid;
    grid-template: 30px 30px/25px auto 25px;
    border-radius: 5px;
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 5px;
    transition: all ease-in-out 0.2s;
    opacity: 0;
}

.taskContainer::after {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.17);
    opacity: 0;
    background-color: white;
    transition: all 0.2s ease-in-out;
    border: 1.5px solid rgba(255, 255, 255, 0);
}

.taskContainer:hover {
    transform: scale(1.007);
}

.taskContainer:hover > .deleteContainer {
    opacity: 1;
}

.taskContainer:hover::after {
     opacity: 1;
}

.taskContainer.viewing::after {
    opacity: 1;
    border: 1.5px solid var(--primary-blue);
}

@keyframes taskContainerDelete {
    100% {transform: translateY(-100%)}
}

@keyframes taskContainerAdd {
    0% {
        box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.17);
        transform: scale(1.007);
    }
    50% {box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.17);}
    100% {transform: scale(1);}
}

.completed div{
    color: var(--tertiary-text-color);
}

.checkContainer {
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.2s;
}

.checkContainer.completed {
    filter: var(--secondary-svg-color);
    animation: checkClick 0.3s ease-out;
}

.checkContainer svg {
    transition: all ease-in-out 0.2s;
}

.checkContainer svg:hover {
    filter: var(--secondary-svg-color);
}

@keyframes checkClick {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.nameContainer {
    pointer-events: none;
    display: flex;
    align-items: center;
    margin: 8px 5px 8px 0;
    height: 14px;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--primary-text-color);
    background-image: linear-gradient(to bottom,
        #00000000 50%,
        var(--tertiary-text-color) 50%, 
        var(--tertiary-text-color) 60%,
        #00000000 60%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s ease;
}

.nameContainer.completed {
    background-size: 100% 100%;
}

.deleteContainer {
    opacity: 0;
    display: flex;
    align-items: center;
    filter: var(--secondary-svg-color);
    transition: opacity ease-in-out 0.2s;
}

.deleteContainer.completed {
    opacity: 1;
}

.descriptionContainer {
    pointer-events: none;
    grid-column-start: 2;
    width: auto;
    height: 30px;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
    white-space: nowrap;
    overflow-X: hidden;
}


/* TASK VIEW */

.taskViewContainer {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.15);
    margin: 50px 0 auto 50px;
    opacity: 0;
    padding: 30px 20px;
    transition: all 0.25s cubic-bezier(0,.5,.5,1);
    position: sticky;
    top: 90px;
}

.taskViewCheckContainer {
    cursor: pointer;
}

.taskViewCheckContainer.completed {
    animation: checkClick 0.3s ease-out;
    filter: var(--secondary-svg-color);
}

.taskViewCheckContainer svg {
    transition: all ease-in-out 0.1s;
}

.taskViewCheckContainer svg:hover {
    filter: var(--secondary-svg-color)
}

.taskViewNameContainer {
    display: flex;
    align-items: center;
    background-size: 0% 100%;
    border-radius: 5px;
}

.taskViewName {
    cursor: text;
}


.taskViewNameContainer svg {
    display: flex;
    align-items: center;
}

.taskViewName {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    height: 20px;
    margin: 12px 25px 12px 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,
        #00000000 50%,
        var(--tertiary-text-color) 50%, 
        var(--tertiary-text-color) 60%,
        #00000000 60%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease, color 0.4s ease, background-color 0.4s ease-in-out;
}

.taskViewName:hover {
    margin: 0;
    padding: 12px 25px 12px 10px;
    background-color: #f6f6fb;
}

.taskViewName.completed {
    background-size: 100% 100%;
    color:var(--tertiary-text-color);
    pointer-events: none;
}

.taskViewDescriptionContainer {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 20px;
    color: var(--secondary-text-color);
    margin-left: 35px;
}

.taskViewDescription {
    display: flex;
    align-items: center;
    cursor: text;
    font-weight: 400;
    font-size: 1rem;
    color: var(--secondary-text-color);
    margin-top: 10px;
    height: 30px;
}

.taskViewDescription:hover {
    background-color: #f6f6fb;
}

.taskViewDueDateContainer {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 20px;
    color: var(--secondary-text-color);
    margin-left: 35px;
    fill: #697384;
}

.taskViewDueDate {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    width: max-content;
    color: var(--secondary-text-color);
    margin-top: 10px;
}

.taskViewDueDate svg {
    padding: 0 5px 0 2px;
}

/* TASK FORM */

#taskFormContainer {
    visibility: hidden;
    padding-top: 35vh;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    transition: all ease-in-out 0.2s;
}

#taskForm {
    opacity: 0;
    background-color: white;
    width: 30vw;
    height: 25vh;
    transform: scale(0);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
    padding: 15px;
    transition: all ease 0.2s;

}

#taskForm input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    outline-width: 0;
    padding: 5px 0 5px 5px;
    transition: all ease-in-out 0.2s;
}

#inputTaskName {
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 700;
}

#inputTaskName:hover {
    background-color: #f6f6fb;
}

#inputTaskName::placeholder {
    color: #7b7f8659;
}

#inputTaskDescription {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    border: none;
    outline-width: 0;
}

#inputTaskDescription::placeholder {
    color: #7b7f8659;
    font-weight: 700;
}

#inputTaskDescription:hover {
    background-color: #f6f6fb;
    
}

#inputDueDateContainer {
    display: flex;
    font-size: 0.9rem;
    align-items: center;
}

.inputDueDate {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    color: #171c24;
    border: none;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
}

.selected {
    background-color: #ecf0f6;
}

.inputDueDate ion-icon {
    color: #171c24;
    font-size: 1.25rem;
    margin-right: 5px;
}

.inputDueDate:hover {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
}

#inputListContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

#inputListContainer.selected #inputListOptions {
    pointer-events: all;
    opacity: 1;
}

#inputListContainer.selected #inputList {
    box-shadow: none;
}

#inputList {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #171c24;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
}

#inputList .dot {
    margin: 0 5px 0 0 ;
}

#inputList:hover {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
}



#inputListOptions {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    margin-top: 50px;
    height: 200px;
    width: 125px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
    border-radius: 5px;
    background-color: white;
    transform: translateX();
    transition: all 0.2s ease-in-out;
}

.inputListItem {
    cursor: pointer;
    padding-left: 10px;
}

.inputListItem:hover {
    background-color: #ecf0f6;
}

.inputListItem.selected {
    background-color: #ecf0f6;
}


#taskFormAddButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #3880ff;
    color: white;
    padding: 8px 10px;
    margin-left: 5px;
    margin-top: 20px;
  
}


#taskFormAddButton ion-icon {
    font-size: 1.25rem;
    margin-right: 5px;
    color: white;
}

#sidebarListsTitle {
    height: auto;
    width: auto;
    margin-top: 10px;
    background-color: var(--secondary-bg-color);
}

#sidebarLists {
    position: relative;
    z-index: 1;
    width: auto;
    background-color: var(--secondary-bg-color);
    transition: all ease-in-out 0.2s;
    padding-bottom: 10px;
}

#sidebarLists.close {
    opacity: 0;
}

.sidebarListContainer {
    display: flex;
    align-items: center;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 22px;
    background-color: var(--primary-blue);
    border-radius: 50px;
}


.abc {
    position: relative;
    z-index: 2;
    width: auto;
    height: 100%;
    background-color: var(--secondary-bg-color);
}






/* LOADING SCREEN */

#loadingScreen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 3;
    transition: 0.5s all ease-in-out;
}

#loadingScreenLogoContainer {
    display: flex;
    align-items: center;
    width: max-content;
}

#loadingScreenLogoContainer ion-icon {
    color: #3880ff;
    font-size: 4rem;
    width: 4rem;
    --ionicon-stroke-width: 50px;
}
#loadingScreen p {
    font-size: 4rem;
    font-weight: 700;
    color: black;
}

#loadingCircle {
    border: 4px solid #3881ff2f;
    border-radius: 50%;
    margin-top: 15px;
    width: 1.5rem;
    height: 1.5rem;
    border-top-color: #3880ff;
    animation: spin infinite ease-in-out 1.5s;    
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}